@keyframes blink { 50% { opacity: 0 } }

jlg-header {
    display: flex;
}

.jlg-header {
  $header-border-bottom: #cddc39;
  $grey-50:  #fafafa;
  $grey-100: #f5f5f5;
  $grey-200: #eee;
	
  display: block;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 100%;
  border-top: 5px solid $header-border-bottom;
  border-bottom: 1px solid $grey-200;
  background: $grey-100;

  .title {
    margin-top: 10px;
    margin-bottom: 15px;

    color: #333;
    font-family: "Monaco", "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: center;
    
    .grey {
        color: grey;
    }
    
    .blue {
        color: blue;
    }
  }

  .nav {
    display: block;
    width: 100%;
    text-align: center;
  }

  .link {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;

    text-decoration: line-through;

    &:focus, &:hover {
      text-decoration: cro;
    }
  }
  
  .blink {
    animation: blink 1s infinite steps(1);  
  }
}