@charset 'utf-8';

jlg-splash {
  display: block;  	
  
  .splash {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: grey;
    
    &.ng-enter, &.ng-leave {
      transition: opacity $swift-ease-in-out-timing-function 1.0s;
    }
    
    &.ng-enter, 
    &.ng-leave.ng-leave-active {      
      opacity: 0;
    }
    
    &.ng-leave,
    &.ng-enter.ng-enter-active {
      opacity: 1;  
    }
  }
}